{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<h1>Edit
		{{user.nom}}</h1>

	{{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}
	{% if is_granted('ROLE_ADMIN')  and utilisateur == false %}
		<a href="{{path('app_leProfile')}}">back to list</a><br><br>
	{% else %}
		<a href="{{path('app_profil_edit_password')}}">modifier votre mot de passe</a>
	{% endif %}


	{% if is_granted('ROLE_ADMIN') %}
		{{ include('profile/_delete_form.html.twig') }}

	{% endif %}
{% endblock %}
