{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!
{% endblock %}

{% block body %}
	<br><br><br>
	{% for message in app.flashes('error') %}
		<div class='alert alert-error col-md-6 text-center '>
			{{message}}</div>
	{% endfor %}
	<center>
		<div class="formCRUD">
			<h1>Edit profile</h1>
			{{form_start(form)}}
			<span class='m-1'>{{form_row(form.oldPassword)}}</span>
			<span class='m-1'>{{form_row(form.newPassword)}}</span>
			<button class="submitCRUDStyle">{{button_label|default('Send')}}</button>
			{{form_end(form)}}
			<br>
			<a href="{{ path('app_leProfile') }}" class="styleEdit">back to profil</a>
			<br>
		</div>
	</center>
{% endblock %}
