{% extends 'base.html.twig' %}

{% block title %}Chambre index
{% endblock %}

{% block body %}
	<h1>Chambre index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Description_courte</th>
				<th>Description_longue</th>
				<th>Photo</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for chambre in chambres %}
				<tr>
					<td>{{ chambre.id }}</td>
					<td>{{ chambre.titre }}</td>
					<td>{{ chambre.descriptionCourte }}</td>
					<td>{{ chambre.descriptionLongue }}</td>
					{# <td>{{ chambre.createAt ? chambre.createAt|date('Y-m-d H:i:s') : '' }}</td> #}
					<td>
						{% for photo in chambre.photos %}
							<img src="{{asset('images/Chambres/'~ photo.reference)}}" alt="" style='width:30%'>
						{% endfor %}
					</td>
					<td>
						<a href="{{ path('app_chambre_show', {'id': chambre.id}) }}">show</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('app_chambre_edit', {'id': chambre.id}) }}">edit</a>
						{% endif %}
						<a href="#">Reserver</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_chambre_new') }}">Create new</a>
{% endblock %}
