<nav>
	<ul>

		<li>
			<div class="iconeImage">
				<a href="{{path('app_home')}}"><img src="{{asset('images/icone.png')}}" alt=""></a>
			</div>
		</li>
		<li>
			<a href="{{path('app_home')}}">Home</a>
		</li>
		{% if is_granted('ROLE_ADMIN') %}
			<li>
				<a href="{{path('app_chambre_index')}}">Les Chambres</a>
			</li>

		{% endif %}


		<li>
			<a href="">Les Categories</a>
		</li>
		<li>
			<a href="">Admin</a>
		</li>

		{% if is_granted('ROLE_USER') %}
			<li>
				<a href="{{path('app_profile_index')}}">Profil</a>
			</li>
			<li>
				<a href="{{path('app_logout')}}">Logout</a>
			</li>
		{% else %}
			<li>
				<ahref="{{path('app_login')}}">Login</a>
			</li>
			<li>
				<ahref="{{path('app_register')}}">Register</a>
			</li>
		{% endif %}
		<li>
			<a href="">Contact</a>
		</li>

	</ul>
</nav>
